
.carousel-indicators {

  width: 100%;
  margin: 0px;
  padding: 0px 150px;
  background-color: rgba(0, 0, 0, 0.3);

  img {
    //max-width: 400px;
    overflow: hidden;
    display: block;
  }

  li {
    margin: 0px 20px;
    height: auto;
    width: 400px;
    border: none;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
  }

  @media (max-width: 1024px) {
    padding: 0px 100px;
  }

  @media (min-width: 768px) {
    padding: 0px 70px;
  }

  @media (max-width: 767px) {
    padding: 0px 30px;
  }
}
